.App {
  text-align: center;
}

.Header-btns {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px 10px 0 0;
}

.Header-btn {
  margin-right: 10px;
}

.Header-btn:last-child {
  margin-right: 0;
}

.App-logo {
  height: 10vmin;
  width: 20vw;
  margin-bottom: 30px;
}

.App-header {
  background-color: #040765;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Search-bar {
  width: 80%;
}

.Search-icon {
  margin-right: 20px;
}

.App-link {
  margin-top: 30px;
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
